<table>
  <tr>
    <th>Name</th>
    <th>Homepage</th>
    <th>Link</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.homepage %></td>
      <td><%= link_to 'Details', author_path(author) %></td>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= link_to 'Delete', author_path(author), method: :delete %></td>
    </tr>
  <% end %>
</table>
<a href=<%=new_author_path%>>New</a>